// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }
.canvas-templates {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)) !important;
  gap: 1rem !important;
}

.canvas-templates a {
  display: block !important;
}

.canvas-templates img {
  width: 100% !important;
  height: 160px !important;
  object-fit: cover !important;
  border-radius: 10px;
}
